{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 일기 -->
    <h2 class="border-bottom py-2">{{ diary.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ diary.content }}</div>
            <div class="d-flex justify-content-end">
                {% if diary.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ diary.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ diary.author.username }}</div>
                    <div>{{ diary.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'main:diary_vote' diary.id  %}" class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ diary.voter.count }}</span>
                </a>
                {% if request.user == diary.author %}
                <a href="{% url 'main:diary_modify' diary.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" data-uri="{% url 'main:diary_delete' diary.id  %}"
                    class="delete btn btn-sm btn-outline-secondary">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 댓글 -->
    <h5 class="border-bottom my-3 py-2">{{diary.reply_set.count}}개의 댓글이 있습니다.</h5>
    {% for reply in diary.reply_set.all %}
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ reply.content }}</div>
            <div class="d-flex justify-content-end">
                {% if reply.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ reply.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ reply.author.username }}</div>
                    <div>{{ reply.create_date }}</div>
                </div>
            </div>

            <div class="my-3">
                <a href="{% url 'main:reply_vote' reply.id  %}" class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ reply.voter.count }}</span>
                </a>
                {% if request.user == reply.author %}
                <a href="{% url 'main:reply_modify' reply.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" data-uri="{% url 'main:reply_delete' reply.id  %}"
                    class="delete btn btn-sm btn-outline-secondary">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- 댓글 등록 -->
    <form action="{% url 'main:reply_create' diary.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="content" class="form-label">댓글내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content"
                class="form-control" rows="2"></textarea>
        </div>
        <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>
</div>

{% endblock %}

{% block script %}
<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
{% endblock %}