{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <!-- message 표시 -->
    {% if messages %}
    <div class="alert alert-danger my-3" role="alert">
        {% for message in messages %}
        <strong>{{ message.tags }}</strong>
        <ul>
            <li>{{ message.message }}</li>
        </ul>
        {% endfor %}
    </div>
    {% endif %}
    <!-- 일기 -->
    <h2 class="border-bottom py-2">{{ posts.subject }}</h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ posts.content }}</div>
            <div class="d-flex justify-content-end">
                {% if posts.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ posts.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ posts.author.username }}</div>
                    <div>{{ posts.create_date }}</div>
                </div>
            </div>
            <div class="my-3">
                <a href="{% url 'main:posts_vote' posts.id  %}" class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ posts.voter.count }}</span>
                </a>
                {% if request.user == posts.author %}
                <a href="{% url 'main:posts_modify' posts.id  %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" data-uri="{% url 'main:posts_delete' posts.id  %}"
                    class="delete btn btn-sm btn-outline-secondary">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- 댓글 -->

    <div class="col-4 d-flex align-items-center">
        <select id="sort_kind">
            <option value="first">등록순</option>
            <option value="latest">최신순</option>
            <option value="voter">추천순</option>
        </select>
        <button class="btn btn-sm btn-outline-secondary mx-1" type="button" id="btn_sort">정렬</button>
    </div>
    <h5 class="border-bottom my-3 py-2">{{posts.reply_set.count}}개의 댓글이 있습니다.</h5>

    {% for reply in reply_list %}
    <a id="reply_{{ reply.id }}"></a>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;">{{ reply.content }}</div>
            <div class="d-flex justify-content-end">
                {% if reply.modify_date %}
                <div class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">수정됨</div>
                    <div>{{ reply.modify_date }}</div>
                </div>
                {% endif %}
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">{{ reply.author.username }}</div>
                    <div>{{ reply.create_date }}</div>
                </div>
            </div>

            <div class="my-3">
                <a href="{% url 'main:reply_vote' reply.id %}" class="recommend btn btn-sm btn-outline-secondary"> 추천
                    <span class="badge rounded-pill bg-success">{{ reply.voter.count }}</span>
                </a>
                {% if request.user == reply.author %}
                <a href="{% url 'main:reply_modify' reply.id %}" class="btn btn-sm btn-outline-secondary">수정</a>
                <a href="javascript:void(0)" data-uri="{% url 'main:reply_delete' reply.id %}"
                    class="delete btn btn-sm btn-outline-secondary">삭제</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if reply_list.has_previous %}
        <li class="page-item">
            <a class="page-link" data-page="{{ reply_list.previous_page_number }}" href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in reply_list.paginator.page_range %}
        {% if page_number >= reply_list.number|add:-5 and reply_list.number|add:5 >= page_number %}
        {% if page_number == reply_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if reply_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ reply_list.next_page_number }}" href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->

    <!-- 댓글 등록 -->
    <form action="{% url 'main:reply_create' posts.id %}" method="post" class="my-3">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="content" class="form-label">댓글내용</label>
            <textarea {% if not user.is_authenticated %}disabled{% endif %} name="content" id="content"
                class="form-control" rows="2"></textarea>
        </div>
        <input type="submit" value="댓글등록" class="btn btn-primary">
    </form>
</div>
<form id="sort_kind_form" method="get" action="{% url 'main:detail' posts.id %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
{% endblock %}

{% block script %}
<script type='text/javascript'>
    // 댓글삭제
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            if (confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });

    // 페이징 및 댓글정렬
    $('#sort_kind').val($('#kw').val()).prop("selected", true);

    const page_elements = document.getElementsByClassName("page-link");
    Array.from(page_elements).forEach(function (element) {
        element.addEventListener('click', function () {
            document.getElementById('page').value = this.dataset.page;
            document.getElementById('sort_kind_form').submit();
        });
    });
    const btn_sort = document.getElementById("btn_sort");
    btn_sort.addEventListener('click', function () {
        document.getElementById('kw').value = document.getElementById('sort_kind').value;
        document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
        document.getElementById('sort_kind_form').submit();
    });
</script>
{% endblock %}