{% extends "base.html" %}
{% block content %}
<h2>{{ userdetail.username }}</h2>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">기본 정보</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">게시글</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">댓글</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
    <ul>
      <li>
        {{ userdetail.profile.introduction }}
      </li>
      <li>
        {{ userdetail.profile.bloodtype }}
      </li>
    </ul>
  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
    <table class="table">
      <thead>
          <tr class="text-center">
              <th>번호</th>
              <th style="width: 50%;">제목</th>
              <th>작성일시</th>
          </tr>
      </thead>
      <tbody>
          {% if posts_list %}
          {% for posts in posts_list %}
          <tr class="text-center">
              <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
              <td>{{ forloop.counter }}</td>
              <td class="text-start">
                  <a href="{% url 'main:detail' posts.id %}">{{ posts.subject }}</a>
                  {% if posts.reply_set.count > 0 %}
                  <span class="text-danger small mx-2">{{ posts.reply_set.count }}</span>
                  {% endif %}
              </td>
              <td>{{ posts.create_date }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">일기가 없습니다.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
  </div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
    <table class="table">
      <thead>
          <tr class="text-center">
              <th>번호</th>
              <th style="width: 50%;">댓글</th>
              <th>작성일시</th>
          </tr>
      </thead>
      <tbody>
          {% if reply_list %}
          {% for reply in reply_list %}
          <tr class="text-center">
              <!-- 번호 = 전체건수 - 시작인덱스 - 현재인덱스 + 1 -->
              <td>{{ forloop.counter }}</td>
              <td class="text-start">
                  <a href="{% url 'main:detail' reply.posts.id %}">{{ reply.content }}</a>
              </td>
              <td>{{ reply.create_date }}</td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
              <td colspan="3">댓글이 없습니다.</td>
          </tr>
          {% endif %}
      </tbody>
  </table>
  </div>
</div>
{% endblock %}